aiohttp==3.7.4.post0
anyio==3.5.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
click==8.1.2
discord.py==1.7.3
fastapi==0.75.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
msgpack==1.0.3
multidict==6.0.2
neovim==0.3.1
pydantic==1.9.0
pynvim==0.4.3
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.6
yarl==1.7.2
