{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', path='styles/about.css') }}">
{% endblock %}

{% block main %}
<main class="main">
	<div class="main__img"><img src="{{ url_for('static', path='images/pensando_0030.png') }}"></div>

	<div class="main__stuff">
		<h1 class="main__header">SOBRE MÍ</h1>
		<p>Soy una persona con unas fervientes ganas de compartir lo que aprende.</p>
		<p>Detesto ver el sufrimiento por el que pasa la gente en los estudios.</p>
		<p>Mi objetivo es simple: no solo <u>eliminar ese sufrimiento</u>, sino hacerlo una experiencia <b>muy disfrutable.</b></p>
		<p>Si de algo puedo enorgullecerme es de lograr que mis alumnos comprendan, cuestionen y se desarrollen, no solo memoricen.</p>
	</div>
</main>
{% endblock %}
